<h1><%= card.escape('title') %></h1>
<a href="#" class="card-model-close">X</a>
<p>
  <%= card.escape('description') %>
</p>
<ul class="items">
  <li class="item-add">
    <a href="#">Add an item...</a>
    <div class="hidden">
      <input type="text" name="title">
      <button class="save">Save</button><button class="cancel">X</button>
    </div>
  </li>
</ul>
