<ul>
  <li class="list-title">
    <a href="#"><%= list.get('title') %></a>
    <form class="hidden">
      <input type="text" name="title" value="<%= list.get('title') %>">
      <button class="save">Save</button><button class="cancel">X</button>
    </form>
  </li>

  <li>
    <ul class="list-cards">
    </ul>
  </li>

  <li class="card-add">
    <a href="#">Add a card...</a>
    <form class="hidden">
      <input type="text" name="title">
      <button class="save">Save</button><button class="cancel">X</button>
    </form>
  </li>
</ul>
